files:
  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/systemtaillogs.d/laravel-logs.conf":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel-logs.conf":
    mode: "000777"
    owner: webapp
    group: webapp
    content: |
      /var/app/current/storage/logs/*.log


