files:
  "/etc/supervisord.d/queue-worker.ini":
    mode: "000755"
    owner: webapp
    group: webapp
    user: webapp
    content: |
      [program:queue-worker]
      process_name=%(program_name)s_%(process_num)02d
      directory=/var/app/current
      command=bash -c ". .platform/load-env-vars.sh && php artisan queue:work > /var/app/current/storage/logs/queueLog.log 2>&1"
      autostart=true
      autorestart=true
      user=webapp
      numprocs=1
      redirect_stderr=true
      stdout_logfile=/var/log/queueLog.log
      stopwaitsecs=3600
